################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
/Catask.Logic/Catask.Logic/obj/Debug
/Catask.Logic/Catask.Logic/bin/Debug
*.jfm
/Catask.Database/obj/Debug
/Catask.Database/bin/Debug
/.vs/Catask/v15/Server/sqlite3
/.vs/Catask/v15
/Catask.Logic/obj/Debug
/Catask.Logic/bin/Debug
/Catask.Database/Catask.Database.dbmdl
/packages/EntityFramework.6.2.0
/Catask.DAL/obj/Debug
/Catask.DAL/bin/Debug
/packages
/Catask.Logic/obj/Release
/Catask.DAL/obj/Release
/.vs
